name: pull request

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build JDK ${{ matrix.java_version }}
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3.3.1
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.4.10
      - name: Decrypt keystore
        run: ./signing/decrypt.sh
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - name: Debug keystore
        run: keytool -genkey -v -keystore app/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "C=US, O=Android, CN=Android Debug"
      - name: Build project
        run: ./gradlew assembleDebug
      - name: Run tests
        run: ./gradlew test
      - name: Checks
        run: ./gradlew check
      - name: Archive Lint report
        uses: actions/upload-artifact@v4
        with:
          name: Lint-report
          path: app/build/reports/lint-results.html
      - name: cleanup keystore
        run: ./signing/cleanup.sh
  Espresso:
    name: Espresso ${{ matrix.os }} ${{ matrix.abi }} ${{ matrix.api }} ${{ matrix.tag }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java_version: [ 17 ]
        os: [ macOS-latest ]
        abi: [ x86_64 ]
        api: [ 28 ]
        tag: [ 'default' ]
        include:
          - os: ARM64
            abi: arm64-v8a
            api: 34
            tag: 'google_apis'
            java_version: 17
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.4.10
      - name: Debug keystore
        run: keytool -genkey -v -keystore app/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "C=US, O=Android, CN=Android Debug"
      - name: Decrypt keystore
        run: ./signing/decrypt.sh
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - name: Run instrumentation tests
        uses: hannesa2/action-android/emulator-run-cmd@0.1.4.10
        with:
          cmd: ./gradlew cAT --continue
          api: ${{ matrix.api }}
          tag: ${{ matrix.tag }}
          abi: ${{ matrix.abi }}
          cmdOptions: -noaudio -no-boot-anim -no-window
      - name: Archive Espresso results
        uses: actions/upload-artifact@v4
        with:
          name: Espresso-report
          path: app/build/reports/androidTests/connected
      - name: Archive screenshots
        uses: actions/upload-artifact@v4
        with:
          name: Screenshots-CVScanner
          path: |
            app/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected
            app/build/outputs/androidTest-results/connected
      - name: cleanup keystore
        run: ./signing/cleanup.sh
